.dk-spin {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  &.dk-spin-block {
    display: block;
    height: auto;
    width: auto;
  }
}

.dk-spin-wrapper {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  top: 50%;
  color: #0064fa;
  > svg {
    animation: dk-animation-rotate .6s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    vertical-align: top;
    width: 20px;
    height: 20px;
  }
  .tip {
    white-space: nowrap;
  }
}

.dk-spin-small,
.dk-spin-small .dk-spin-wrapper svg {
  width: 14px;
  height: 14px;
}

.dk-spin-middle,
.dk-spin-middle > .dk-spin-wrapper > svg {
  width: 20px;
  height: 20px;
}

.dk-spin-large,
.dk-spin-large > .dk-spin-wrapper > svg {
  width: 32px;
  height: 32px;
}

.dk-spin-children {
  opacity: 0;
  user-select: none;
}

.dk-spin-hidden > .dk-spin-children {
  opacity: 1;
  user-select: auto;
}

@keyframes dk-animation-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform:rotate(1turn);
  }
}